@keyframes fromLeft {
  0% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}
@keyframes fromRight {
  0% {
    right: -200px;
  }
  100% {
    right: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin animation($nome, $dur: 1s, $del: 0s, $dir: both) {
  animation: $dur $del $nome $dir;
}
